.navbar-default {
  .navbar-nav > li.active > a {
    color: #000000;
    border-bottom: 2px solid #000000;
  }
  .navbar-nav > li > a {
    background: transparent !important;
    &:hover, &:focus {
      color: #222222 !important;
      background: transparent !important;
    }
  }
}

.navbar-brand {
  font-weight: 900;
  padding: 0px;
  line-height: 50px;
  height: 50px;
}
