{% extends "base.njk" %}

{% block css %}
<link rel="stylesheet" href="/static/css/spinkit.css">
{% endblock %}

{% block js %}
<script type="text/javascript">
var examList = [];
var pollInterval = 1000;
function showError(msg) {
  $("#error-container").html("<div class=\"alert alert-danger\">" + msg + "</div>");
  setTimeout(function () {
    $("#error-container").empty();
  }, 1000);
}
function passDanmakuByID(i) {
  if (examList.length === 0) {
    return
  }
  danmaku = examList[i];
  $("#passButton" + i).attr("disabled", true);
  $("#blockButton" + i).attr("disabled", true);
  $.ajax({
    "type": "POST",
    "url": "{{ apiExamination }}",
    "dataType": "json",
    "headers": {
      "Content-Type": "application/json",
      "X-Danmaku-Exam-Key": $("#examPassword").val()
    },
   "data": JSON.stringify({
      "content": danmaku["content"],
      "color": danmaku["color"],
      "position": danmaku["position"]
    }),
    "success": function (data) {
      examList.splice(i, 1);
      buildExamTable();
      console.log(data["status"]);
    },
    "statusCode": {
      "403": function () {
        showError("密码错误，请重新输入！");
        $("#passButton" + i).attr("disabled", false);
        $("#blockButton" + i).attr("disabled", false);
      },
      "444": function () {
        showError("不和谐词汇，已被屏蔽！");
        blockDanmakuByID(i);
      },
      "400": function () {
        showError("此频道不接受监管！");
      }
    }
  });
}
function blockDanmakuByID(i) {
  if (examList.length === 0) {
    return
  }
  examList.splice(i, 1);
  buildExamTable();
}
function escapeHTML(str) {
  return str.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;") ;
}
function buildExamTable() {
  $("#examTable").empty();
  $("#sk-wave").show();
  if (examList.length === 0) {
    return
  }
  var innerHTML = "<table class=\"table table-responsive\"><thead><tr class=\"row\"><th class=\"col-sm-8\">弹幕内容</th><th class=\"col-sm-4\">弹幕操作</th></tr></thead><tbody>";
  for (var i = 0; i < examList.length; ++i) {
    innerHTML += "<tr class=\"row\">";
    innerHTML += "<td class=\"col-md-8\">";
    innerHTML += escapeHTML(examList[i]["content"]);
    innerHTML += "</td>";
    innerHTML += "<td class=\"col-md-4\">";
    innerHTML += "<button class=\"btn btn-success\" onclick=\"passDanmakuByID(" + i + ");\" id=\"passButton" + i + "\">通过</button>";
    innerHTML += " ";
    innerHTML += "<button class=\"btn btn-danger\" onclick=\"blockDanmakuByID(" + i + ");\" id=\"blockButton" + i + "\">丢弃</button>";
    innerHTML += "</td>"
    innerHTML += "</tr>";
  }
  innerHTML += "</tbody></table>";
  $("#examTable").append(innerHTML);
  $("#sk-wave").hide();
}
function pollDanmakus() {
  $.ajax({
    "type": "GET",
    "headers": { "X-Danmaku-Exam-Key": $("#examPassword").val() },
    "url": "{{ apiExamination }}",
    "success": function (data) {
      examList = examList.concat(data["result"]);
      buildExamTable();
      setTimeout(pollDanmakus, pollInterval);
    },
    "statusCode": {
      "403": function () {
        // showError("密码错误，请重新输入！");
        buildExamTable();
        setTimeout(pollDanmakus, pollInterval);
      },
      "400": function () {
        buildExamTable();
        setTimeout(pollDanmakus, pollInterval);
      }
    }
  });
}
function onKeyDown(keyEvent) {
  var keyEvent = keyEvent || window.event;
  var code = keyEvent.keyCode || keyEvent.which;
  if (code === 13) {
    passDanmakuByID(0);
  } else if (code === 8 || code === 46) {
    blockDanmakuByID(0);
  }
}
$(document).ready(function() {
  addEventListener("keydown", onKeyDown, false);
  pollDanmakus();
});
</script>
{% endblock %}

{% block title %}{{ channel.name }} 弹幕审核{% endblock %}

{% block body %}
<div class="row" id="exam-channel">
  <div class="col-md-8">
    <h1>{{ channel.name }} 弹幕审核</h1>
    <h2>{{ channel.desc }}</h2>

    <form id="form-exam" class="form-horizontal" role="form">
      <div class="form-group">
        <label for="examPassword" class="col-sm-2 control-label">审核密码</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="examPassword" name="examPassword" placeholder="在这里填写审核密码（如果有）">
        </div>
      </div>
    </form>

    <div id="error-container"></div>

    <div>
      <h3>审核列表</h3>
      <h4>快捷键：回车通过第一条弹幕，删除/退格键丢弃第一条弹幕。</h4>
    </div>

    <div class="sk-wave" id="sk-wave">
      <div class="sk-rect sk-rect1"></div>
      <div class="sk-rect sk-rect2"></div>
      <div class="sk-rect sk-rect3"></div>
      <div class="sk-rect sk-rect4"></div>
      <div class="sk-rect sk-rect5"></div>
    </div>
    <div id="examTable"></div>
  </div>
</div>
{% endblock %}
