{% extends "base.njk" %}

{% block css %}
<style type="text/css">
  body {
    padding-top: 40px;
  }
</style>
{% endblock %}

{% block title %}频道列表{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-8">
    <h1>频道列表</h1>
    <div>
      <table class="table table-responsive">
        <thead>
          <th>名称</th>
          <th>描述</th>
          <th>操作</th>
        </thead>
        <tbody>
          {% for chan in channels %}
          <tr>
            <td>{% if not chan.isOpen %}<i class="fa fa-lock"></i> {% endif %}{% if chan.useBlacklist %}<i class="fa fa-black-tie"></i> {% endif %}<a href="{{ chan.url }}">{{ chan.name }}</a> </td>
            <td>{{ chan.desc }}</td>
            <td>
              {% if chan.isExam %}
              <a href="/channel/{{ chan.name }}/exam">审核</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a class="btn btn-success" href="{{ createChannel }}">新建频道</a>
    </div>
  </div>
</div>
{% endblock %}
