{% extends "base.njk" %}

{% block css %}
<style type="text/css">
  body {
    padding-top: 40px;
  }
</style>
{% endblock %}

{% block title %}频道列表{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>频道列表</h2>
    <div>
      <table class="table table-responsive">
        <thead>
          <th>名称</th>
          <th>描述</th>
        </thead>
        <tbody>
          {%- for chan in channels %}
          <tr>
            <td><a href="{{ chan.url }}">{% if not chan.isOpen %}<i class="fa fa-lock"></i>{% endif %} {% if chan.useBlacklist %}<i class="fa fa-black-tie"></i>{% endif %} {{ chan.name }}</a> </td>
            <td>{{ chan.desc }}</td>
          </tr>
          {% endfor -%}
        </tbody>
      </table>
      <a class="btn btn-success" href="{{ createChannel }}">新建频道</a>
    </div>
  </div>
</div>
{% endblock %}
